body{
    padding: 0px;
    margin: 0px;
}

#header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: 0.4s;
    z-index: 99;
    box-shadow: 0px 5px 5px rgba(190, 190, 190, 0.5);
}
h1{
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
}
h2{ 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

#pairContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 180px;
    margin-bottom: 100px;
    /* border: 1px solid red; */
}

#pairContainer #wrapper {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    border-left: 2px solid black;
    overflow-x: scroll;
    border-radius: 1px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 75px;
}

#pairContainer #wrapper2 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 253, 253);
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 0px;
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    border-radius: 10px;
    width: 45%;
    min-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
#pairContainer #wrapper2:hover {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 247, 250);
}
@media screen and (max-width: 1100px){
    #pairContainer #wrapper {
        display: block;
        /* justify-content: center; */
        /* align-items: center; */
        border-left: 2px solid black;
        border-radius: 1px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 100px;
    }
    #pairContainer #wrapper2 {
        display: block;
        margin-left: calc(10% - 20px);
        margin-right: 10%;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 80%;
    }
}


#pairContainer #logoIcon {
    position: relative;
    margin-right: 20px;
    height: 30px;
    margin-left: 20px;
    width: auto;
    top: 20;
}
#pairContainer p {
    padding: 5px;
} 
#pairContainer #error{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#pairContainer a {
    font-size: 16px;
    padding: 5px;
} 

#loadingText{
    text-align: center;
}
#loadingImg{
    height: 50px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}